[Desktop Entry]
Type=Application
Name=Myrlyn
Exec=myrlyn-sudo
# Uncomment this and comment out the above line if you need HiDPI scaling:
# Exec=sh -c "QT_SCALE_FACTOR=2 myrlyn-sudo"

Icon=Myrlyn.png
GenericName=Myrlyn Graphical Software Package Manager (using sudo)
Comment=Full root access (via sudo)
Terminal=false
MimeType=
Categories=System;Settings
Keywords=software;package panagement;gui
