[Desktop Entry]
Type=Application
Name=Myrlyn
Exec=myrlyn-sudo
# You can set variables in ~/.config/openSUSE/myrlyn-sudo.conf like this:
#
#  QT_QPA_PLATFORMTHEME=qt6ct
#  QT_ENABLE_HIGHDPI_SCALING=0
#  QT_SCALE_FACTOR=1

Icon=Myrlyn.png
GenericName=Myrlyn Graphical Software Package Manager (using sudo)
Comment=Full root access (via sudo)
Terminal=false
MimeType=
Categories=System;Settings
Keywords=software;package panagement;gui
